@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000000; 
  }
  
  header{
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
    background-color: #6A1A2F;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
  
  header .brand{
    height: 100%;
    width: 30%;
    display: flex;
    align-items:center ;
  }
  
  header .brand .logo{
    width: 50%;
  }
  
  header .navigation{
    position: relative;
  }
  
  header .navigation .navigation-items a{
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
  }
  
  header .navigation .navigation-items a:before{
    content: '';
    position: absolute;
    background: rgb(255, 255, 255);
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
  }
  
  header .navigation .navigation-items a:hover:before{
    width: 100%;
  }
  
  .solid{
    background-color: #6A1A2F;
  }

  section{
    background-color: #e8e6e7;
  }

  .city{
    background: url('../cities/Puri/Assets/Puri.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }

  .city_name{
    color: #fff;
    font-size: 64px;
    font-weight: 700;
    font-family: Lato, sans-serif;
  }

  .city_info{
    color: #fff;
    font-weight: 400;
  }

  .about_city_section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }

  .about_city_div{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
  }

  .about_city_title{
    font-family: Lato, sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #6A1A2F;
    height: 30%;
  }

  .about_city_description{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
  }

  .last_section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .last_section_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .team_div{
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .team_div_title{
    color: #6A1A2F;
    font-family: Lato, sans-serif;
    font-size: 28px;
    font-weight: 700;
    height: 20%;
  }
  
  .team_members{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around
  }
  
  .team_member_card{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .member_pic{
    height: 50%;
    width: 70%;
    border-radius: 100%;
  }
  
  .diya{
    background: url('../assets/images/profilepic.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .member_name{
    color: #6A1A2F;
    margin: 10px 0px;
    font-size: 18px;
    font-weight: 500;
  }
  
  .member_info{
    color: #2b2d42;
    text-align: center;
    margin: 20px 0px;
    font-size: 14px;
    font-weight: 400;
  }
  
  .member_links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
  }
  
  .member_link_icon{
    color: #b1b1b1;
  }
  
  .member_link_icon:hover{
    color: #949494;
    cursor: pointer;
  }
  
  .contact_div{
    height: 40%;
    width: 100%;
    display: flex;
    background-color: white;
  }
  
  .contact_div_left{
    height: 100%;
    width: 40%;
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .contact_div_centent{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .contact_title{
    color: white;
    font-size: 24px;
    font-family: Lato, sans-serif;
    font-weight: 900;
    margin: 20px;
  }
  
  .contact_address{
    color: white;
    font-size: 18px;
    font-family: Lato, sans-serif;
    font-weight: 500;
    margin: 20px;
  }
  
  .contact_div_right{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  form {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
  }
  
  .name_div{
    display: flex;
    height: 20%;
  }
  
  .first_name_div, .last_name_div{
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .first_name_label, .last_name_label, .email_label, .msg_label{
    color: #2b2d42;
  }
  
  .firstname, .lastname{
    height: 100%;
    width: 90%;
  }
  
  .email_div, .msg_div{
    margin: 10px 0px;
    height: 20%;
    display: flex;
    flex-direction: column;
  }
  
  .msg_div{
    height: 30%;
  }
  
  .email, .message{
    height: 100%;
    width: 95%;
  }
  
  
  /* CSS */
  .submit_btn {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
  }
  
  .submit_btn:hover {
    background-color: #6a1a2f;
    color: #c4c4c4;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
  
  
  .footer_section{
    background-color: #2b2b2b;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer_div{
    background: url('../assets/images/navigation.png');
    background-size: 12%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .footer{
    width: 20%;
    height: 100%;
  }
  
  .about_head, .navigation_head, .extra_link_head, .connect_head{
    font-size: 24px;
    font-weight: 700;
    font-family: Lato, sans-serif;
    margin: 20px 0px;
    color: #c4c4c4;
  }
  
  .about, .navigation .nav_link a, .extra_link .nav_link a, .connect{
    text-align: justify;
    color: white;
    margin: 10px 0px;
  }
  
  .connect_icons{
    margin: 10px 0px;
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  
  .copyright_div{
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #edf2f4;
  }